.carousel-container {
 	display: flex;
 	flex-direction: column;
 	align-items: center; 
 	justify-content: center; 
 	text-align: center; 
}

.feature {
 	margin-bottom: 50px;
}

.item img {
 	max-width: 100%; 
 	height: auto; 
}

.feature{
	color: white;
}

