.login-form {
  color: #FBFFFF !important;
  max-width: 400px;
  margin: 25px auto;
  padding: 30px 40px;
  background: transparent;
  border: 5px solid #333;
  backdrop-filter: blur(30px);
  border-radius: 10px;
  box-shadow: 0 0 02px rgba(0, 0, 0, 0.2);
}

.login-form:hover{
  border: 5px solid #FBFFFF ;
}

.login-title {
  color: #FBFFFF;
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-size: 1rem;
  color: #FBFFFF;
}

.form-control {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
}

.email-input,
.password-input {
  border: 2px solid #ced4da;
  transition: border-color 0.3s ease-in-out;
}

.email-input:focus,
.password-input:focus {
  border-color: #007bff;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  font-size: 1.2rem;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.disabled-btn {
  width: 100%;
  padding: 10px;
  background-color: #dc3545;
  border: none;
  font-size: 1.2rem;
}

.input-with-icon {
  position: relative;
  width: 100%; 
}

.input-with-icon .form-control {
  padding-right: 40px; 
}

.input-icon {
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%); 
  color: #aaa; 
  font-size: 1.2em; 
  pointer-events: none; 
}